<html>
    <head>
        Task List
    </head>
    <body>
        <form method="post" action="/add">
            <input type="text" name="taskName">
            <input type="text" name="dueDate">
            <input type="submit" value="Add Task">
        </form>
        <table border="5">
            <tr>
                <th>
                    Task Name
                </th>
                <th>
                    Is Done
                </th>
            </tr>
           {% for task in TaskList: %}
                <tr>
                    <form method="post" action="/update">
                        <td>
                            <input type="hidden" name="id" value="{{ task[0] }}" />
                            <input type="text" name="updateTask" value="{{ task[1] }}" />
                        </td>
                        <td>
                            {{ task[2] }}
                        </td>
                        <td>
                            <input type="submit" name="saveOrDelete" value="save">
                        </td>
                        <td>
                            <input type="submit" name="saveOrDelete" value="X">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </body>

</html>